body                  { background: black url(../images/bg.png) top left; color: #aaa; cursor: default; font-family: 'Maven Pro', sans-serif; color: #111; }
*                     { background: none; border: 0; font-weight: normal; margin: 0; padding: 0; }
h1                    { background: url(../images/h1.png) no-repeat top left; height: 43px; margin: auto; margin-bottom: 20px; margin-top: 80px; position: relative; text-indent: -9999px; width: 500px; }
h3                    { color: #111; font-size: 24px; margin-bottom: 5px; margin-top: 10px; }
p                     { color: #222; font-size: 14px; line-height: 20px; margin-bottom: 10px; }
pre                   { background: black; border-radius: 5px; color: #ee8; display: block; font-family: Monaco, sans-serif; font-size: 11px; margin-top: 2px; margin-bottom: 5px; padding: 15px; }
pre                   { font-family: 'Monaco', 'Anonymous Pro', sans-serif; font-size: 11px; }
#main                 { background: #bba; border-radius: 5px; border-top: 1px rgba(255,255,255,.6) solid; height: 500px; margin: auto; width: 500px; }
#main .nano           { text-shadow: #eee 0 1px; }
#main pre             { background: #222; border-bottom: 1px solid white; border-top: 1px solid black; box-shadow: black 0 1px 10px inset; text-shadow: black 0 -1px 1px; }
#main ul              { display: block; }
#main ul li           { margin-left: 20px; font-size: 13px; }
b                     { background: rgba(1,1,1,.1); border-radius: 5px; display: inline-block; padding: 1px 3px 1px 3px; }
#main .content h1     { display: block; margin: 0; padding: 0; color: #111; text-indent: 0; background: none; display: none; }
#main a               { color: #255; text-decoration: underline; text-shadow: none; }
#main a:hover         { color: #553; text-decoration: none; }
#main code            { font-family: Monaco, 'Anonymous Pro'; }
#main p code          { color: #111; background: #222; display: inline-block; border-radius:5px; font-family: Monaco, 'Anonymous Pro'; font-size: 11px; text-shadow: none; color: #ee8; padding: 0 3px 0 3px; border-bottom: 1px solid #eee; box-shadow: #000 0 2px 3px inset; text-shadow: black 0 -1px 1px; } 
