/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane-y, .nano > .pane-x {
  background : rgba(0,0,0,.25);
  position   : absolute;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  bottom     : 0;
  right     : 0;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane-y {
  width      : 10px;
  top        : 0;
}
.nano > .pane-x {
  height      : 10px;
  left        : 0;
}
.nano > .pane-y > .slider-y, .nano > .pane-x > .slider-x {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano > .pane-x > .slider-x {
  margin                : 1px 0;
}
.nano:hover > .pane-y, .pane-y.active, .pane-y.flashed,
.nano:hover > .pane-x, .pane-x.active, .pane-x.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
