//
// nanoScrollerJS (Sass)
// --------------------------------------------------
/** initial setup **/
$nanoClass: "nano";
$paneClass: "pane";
$sliderClass: "slider";
$contentClass: "content";

.#{$nanoClass} {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;

    .#{$contentClass} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: scroll;
        overflow-x: hidden;

        &:focus {
            outline: thin dotted;
        }

        &::-webkit-scrollbar {
            visibility: hidden;
        }
    }

    > .#{$paneClass} {
        width: 10px;
        background: rgba(0,0,0,.25);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .2s;
           -moz-transition: .2s;
             -o-transition: .2s;
                transition: .2s;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        visibility: hidden\9; // Target only IE7 and IE8 with this hack
        opacity: .01;

        > .#{$sliderClass} {
            background: #444;
            background: rgba(0,0,0,.5);
            position: relative;
            margin: 0 1px;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                    border-radius: 3px;
        }
    }
}

.has-scrollbar .#{$contentClass}::-webkit-scrollbar {
    visibility: visible;
}

.#{$paneClass} {
    .#{$nanoClass}:hover > &,
    &.active,
    &.flashed {
        visibility: visible\9; // Target only IE7 and IE8 with this hack
        opacity: 0.99;
    }
}
