@import url('main.css');

@import url('nanoscroller.css');
.nano .content      { padding: 20px; }
.nano .pane         { background: #555; width: 8px; right:1px; }
.nano .pane .slider { background: #111; }
